<?xml version="1.0" encoding="utf-8" ?>
<root>
	<server>192.18.1.200</server>  
	<port>9200</port>
	<language>zh_cn</language> 
	<version>2017072601</version>
	<assets></assets>
	<privateKey>QY7RODDDshen-16SDEDE-WAN-0668-2525-7ROAD-SHENQU-lovDDe777</privateKey>
	<site>xh</site>
	<assetsVerify>0</assetsVerify>
	<key>DGAMEASDWDSHEN-16TQASDEDE-W33TT</key>
	<asssetsStr>http://res.s.2181.com/game/login.html</asssetsStr>
</root> 