<?xml version="1.0" encoding="utf-8" ?>
<root>
<!-- 	<server>http://192.168.1.129</server> -->
	<server>192.168.0.150</server>
<!--	<server>http://14.18.236.140</server> -->
	<port>9200</port>
	<language>zh_cn</language> 
	<version>2016042501</version>
	<assets></assets>
	<privateKey>QY7RODDDshen-16SDEDE-WAN-0668-2525-7ROAD-SHENQU-lovDDe777</privateKey>
	<site>sk</site>
	<assetsVerify>0</assetsVerify>
	<key>DGAMEASDWDSHEN-16TQASDEDE-W33TT</key>
	<asssetsStr>http://res.s.2181.com/game/login.html</asssetsStr>
</root> 