[genuitec-file-id="wc1-7"],[genuitec-lp-path="/OperationAnalysis/WebRoot/css/index_menu.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

@charset "utf-8"; 
 
/* CSS Document */ 

#menu {
	width: 230px;
	margin: auto;
}

#menucontent ul {
	list-style: none;
	border-bottom: 1px solid #e4e4e4;
}

#menucontent ul li .menuheader {
	display: block;
	width: 140px;
	background: -moz-linear-gradient(center top , #ffffff, #f2f2f2) repeat scroll 0 0 #f3f3f3;
    color: #2771b5;
	-moz-user-focus: ignore;
    -moz-user-input: disabled;
    -moz-user-select: none;
    border-bottom: 1px solid #d1d1d1;
    cursor: pointer;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    padding: 1px 45px;
    position: relative;
    font-size: 14px;
    text-decoration: none;
}

#menucontent ul li ul .menuitem_current {
	color: #ffffff;
	background: none repeat scroll 0 0 #2771b5;
}

#menucontent ul li ul li a {
	display: block;
	width: 130px;
	height: 33px;
	line-height: 33px;
	background-color: #ffffff;
	border: none;
	font-size: 14px;
	color: #464646;
	text-decoration: none;
	padding: 2px 50px;
}

#menucontent ul li ul li .menuitem_none:hover {
	color: #2771b5;
}