body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:710px;
}
#u340 {
  position:absolute;
  left:74px;
  top:33px;
  width:1222px;
  height:710px;
}
#u341 {
  position:absolute;
  left:2px;
  top:347px;
  width:1218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:606px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u342 {
  position:absolute;
  left:153px;
  top:101px;
  width:967px;
  height:606px;
  opacity:0.3;
}
#u343 {
  position:absolute;
  left:2px;
  top:295px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
}
#u344 {
  position:absolute;
  left:1040px;
  top:653px;
  width:68px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u345 {
  position:absolute;
  left:2px;
  top:9px;
  width:64px;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:72px;
}
#u346 {
  position:absolute;
  left:1179px;
  top:63px;
  width:108px;
  height:72px;
}
#u347 {
  position:absolute;
  left:2px;
  top:28px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:105px;
}
#u348 {
  position:absolute;
  left:1123px;
  top:138px;
  width:139px;
  height:105px;
}
#u349 {
  position:absolute;
  left:2px;
  top:44px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
}
#u350 {
  position:absolute;
  left:176px;
  top:653px;
  width:69px;
  height:46px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u351 {
  position:absolute;
  left:2px;
  top:15px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u352 {
  position:absolute;
  left:741px;
  top:726px;
  width:120px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u353 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:3px;
}
#u354 {
  position:absolute;
  left:1139px;
  top:239px;
  width:100px;
  height:3px;
}
#u355 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u356 {
  position:absolute;
  left:655px;
  top:64px;
  width:81px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:75px;
}
#u358 {
  position:absolute;
  left:1160px;
  top:248px;
  width:54px;
  height:75px;
}
#u359 {
  position:absolute;
  left:2px;
  top:30px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:70px;
}
#u360 {
  position:absolute;
  left:1167px;
  top:157px;
  width:47px;
  height:70px;
}
#u361 {
  position:absolute;
  left:2px;
  top:27px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:74px;
}
#u362 {
  position:absolute;
  left:1159px;
  top:357px;
  width:59px;
  height:74px;
}
#u363 {
  position:absolute;
  left:2px;
  top:29px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:489px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u364 {
  position:absolute;
  left:161px;
  top:157px;
  width:354px;
  height:489px;
  opacity:0.3;
}
#u365 {
  position:absolute;
  left:2px;
  top:236px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u366 {
  position:absolute;
  left:178px;
  top:122px;
  width:97px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u367 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:7px;
}
#u368 {
  position:absolute;
  left:380px;
  top:258px;
  width:284px;
  height:7px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u369 {
  position:absolute;
  left:2px;
  top:-4px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:113px;
}
#u371 {
  position:absolute;
  left:171px;
  top:167px;
  width:334px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u372 {
  position:absolute;
  left:2px;
  top:48px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u373 {
  position:absolute;
  left:215px;
  top:192px;
  width:236px;
  height:37px;
}
#u374 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u375 {
  position:absolute;
  left:290px;
  top:201px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u376 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u377 {
  position:absolute;
  left:288px;
  top:241px;
  width:187px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u379 {
  position:absolute;
  left:187px;
  top:184px;
  width:80px;
  height:80px;
}
#u380 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u381 {
  position:absolute;
  left:250px;
  top:239px;
  width:25px;
  height:25px;
}
#u382 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u383 {
  position:absolute;
  left:328px;
  top:241px;
  width:20px;
  height:20px;
}
#u384 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u385 {
  position:absolute;
  left:450px;
  top:210px;
  width:38px;
  height:34px;
}
#u386 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u387 {
  position:absolute;
  left:285px;
  top:123px;
  width:97px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u388 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u389 {
  position:absolute;
  left:392px;
  top:122px;
  width:97px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u390 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:113px;
}
#u392 {
  position:absolute;
  left:171px;
  top:286px;
  width:334px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u393 {
  position:absolute;
  left:2px;
  top:48px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u394 {
  position:absolute;
  left:215px;
  top:311px;
  width:236px;
  height:37px;
}
#u395 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u396 {
  position:absolute;
  left:290px;
  top:320px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u398 {
  position:absolute;
  left:288px;
  top:360px;
  width:187px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u400 {
  position:absolute;
  left:187px;
  top:303px;
  width:80px;
  height:80px;
}
#u401 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u402 {
  position:absolute;
  left:250px;
  top:358px;
  width:25px;
  height:25px;
}
#u403 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u404 {
  position:absolute;
  left:328px;
  top:360px;
  width:20px;
  height:20px;
}
#u405 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u406 {
  position:absolute;
  left:451px;
  top:330px;
  width:38px;
  height:34px;
}
#u407 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:113px;
}
#u409 {
  position:absolute;
  left:171px;
  top:404px;
  width:334px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u410 {
  position:absolute;
  left:2px;
  top:48px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u411 {
  position:absolute;
  left:215px;
  top:429px;
  width:236px;
  height:37px;
}
#u412 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u413 {
  position:absolute;
  left:290px;
  top:438px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u415 {
  position:absolute;
  left:288px;
  top:478px;
  width:187px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u417 {
  position:absolute;
  left:187px;
  top:421px;
  width:80px;
  height:80px;
}
#u418 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u419 {
  position:absolute;
  left:250px;
  top:476px;
  width:25px;
  height:25px;
}
#u420 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u421 {
  position:absolute;
  left:328px;
  top:478px;
  width:20px;
  height:20px;
}
#u422 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:113px;
}
#u424 {
  position:absolute;
  left:171px;
  top:523px;
  width:334px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u425 {
  position:absolute;
  left:2px;
  top:48px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u426 {
  position:absolute;
  left:215px;
  top:548px;
  width:236px;
  height:37px;
}
#u427 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u428 {
  position:absolute;
  left:290px;
  top:557px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u429 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u430 {
  position:absolute;
  left:288px;
  top:597px;
  width:187px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u431 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u432 {
  position:absolute;
  left:187px;
  top:540px;
  width:80px;
  height:80px;
}
#u433 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u434 {
  position:absolute;
  left:250px;
  top:595px;
  width:25px;
  height:25px;
}
#u435 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u436 {
  position:absolute;
  left:328px;
  top:597px;
  width:20px;
  height:20px;
}
#u437 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u438 {
  position:absolute;
  left:538px;
  top:653px;
  width:42px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u439 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:7px;
}
#u440 {
  position:absolute;
  left:379px;
  top:549px;
  width:284px;
  height:7px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u441 {
  position:absolute;
  left:2px;
  top:-4px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u442 {
  position:absolute;
  left:546px;
  top:656px;
  width:24px;
  height:32px;
}
#u443 {
  position:absolute;
  left:2px;
  top:8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u444 {
  position:absolute;
  left:191px;
  top:658px;
  width:45px;
  height:33px;
}
#u445 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446 {
  position:absolute;
  left:590px;
  top:653px;
  width:397px;
  height:38px;
}
#u446_input {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:438px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 3px 1px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u447 {
  position:absolute;
  left:530px;
  top:206px;
  width:578px;
  height:438px;
  opacity:0.3;
}
#u448 {
  position:absolute;
  left:2px;
  top:211px;
  width:574px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u450 {
  position:absolute;
  left:569px;
  top:132px;
  width:236px;
  height:37px;
}
#u451 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u452 {
  position:absolute;
  left:644px;
  top:141px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u453 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u454 {
  position:absolute;
  left:642px;
  top:181px;
  width:187px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u455 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u456 {
  position:absolute;
  left:541px;
  top:124px;
  width:80px;
  height:80px;
}
#u457 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u458 {
  position:absolute;
  left:604px;
  top:179px;
  width:25px;
  height:25px;
}
#u459 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u460 {
  position:absolute;
  left:994px;
  top:654px;
  width:42px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u461 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u462 {
  position:absolute;
  left:999px;
  top:658px;
  width:32px;
  height:32px;
}
#u463 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
}
#u464 {
  position:absolute;
  left:303px;
  top:653px;
  width:69px;
  height:46px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u465 {
  position:absolute;
  left:2px;
  top:15px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u466 {
  position:absolute;
  left:318px;
  top:658px;
  width:45px;
  height:33px;
}
#u467 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:3px;
}
#u468 {
  position:absolute;
  left:1139px;
  top:340px;
  width:100px;
  height:3px;
}
#u469 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:3px;
}
#u470 {
  position:absolute;
  left:1138px;
  top:440px;
  width:100px;
  height:3px;
}
#u471 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
}
#u472 {
  position:absolute;
  left:544px;
  top:229px;
  width:336px;
  height:35px;
}
#u473 {
  position:absolute;
  left:10px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:35px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
}
#u474 {
  position:absolute;
  left:891px;
  top:284px;
  width:206px;
  height:35px;
}
#u475 {
  position:absolute;
  left:10px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
}
#u476 {
  position:absolute;
  left:546px;
  top:340px;
  width:336px;
  height:35px;
}
#u477 {
  position:absolute;
  left:10px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u478 {
  position:absolute;
  left:449px;
  top:671px;
  width:58px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
