body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1043px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:385px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:169px;
  width:640px;
  height:385px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:636px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:70px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:169px;
  width:67px;
  height:70px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:198px;
  width:154px;
  height:164px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
