body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1126px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:507px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:168px;
  width:902px;
  height:507px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:284px;
  width:77px;
  height:39px;
  opacity:0;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:381px;
  width:77px;
  height:39px;
  opacity:0;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:478px;
  width:77px;
  height:39px;
  opacity:0;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:223px;
  width:44px;
  height:39px;
  opacity:0;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
