<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>IOSDemo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-29.png</string>
		<string>Icon-40.png</string>
		<string>Icon-50.png</string>
		<string>Icon-57.png</string>
		<string>Icon-58.png</string>
		<string>Icon-72.png</string>
		<string>Icon-76.png</string>
		<string>Icon-80.png</string>
		<string>Icon-87.png</string>
		<string>Icon-100.png</string>
		<string>Icon-114.png</string>
		<string>Icon-120.png</string>
		<string>Icon-144.png</string>
		<string>Icon-152.png</string>
		<string>Icon-180.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent101450498</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxb929bbd63cd1896d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yj.alipay.scheme.com.game.center.kamu.ddz.channel.dayday</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cydia</string>
		<string>xxassistant</string>
		<string>xxassistantsdk</string>
		<string>alipay</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqq</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>appKey</key>
	<string>969f6cc78c1d45aeb63dd0e73bbbe0a9</string>
	<key>appSecret</key>
	<string>86366d33cf8b4ee5a5c74bfeede687f3</string>
	<key>appid</key>
	<string>2</string>
	<key>com.sfchannel.appid</key>
	<string>2</string>
	<key>com.sfchannel.channelid</key>
	<string>0</string>
	<key>com.sfchannel.versioncode</key>
	<string>1</string>
	<key>qqlogin</key>
	<dict>
		<key>qqloginAppid</key>
		<string>101450498</string>
		<key>qqloginAppkey</key>
		<string>626e8cc6285e4107ea1940c808b7e69b</string>
	</dict>
	<key>wxlogin</key>
	<dict>
		<key>wxapikey</key>
		<string>pqGk5rnKgg9fNinRVdFTKLvDSKf5ADds</string>
		<key>wxappid</key>
		<string>wxb929bbd63cd1896d</string>
		<key>wxmchid</key>
		<string>1425575002</string>
		<key>wxsecretkey</key>
		<string>db19e2ad8024c6358291de860b5ff572</string>
	</dict>
</dict>
</plist>
