body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:710px;
}
#u169 {
  position:absolute;
  left:74px;
  top:33px;
  width:1222px;
  height:710px;
}
#u170 {
  position:absolute;
  left:2px;
  top:347px;
  width:1218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:963px;
  height:513px;
}
#u171 {
  position:absolute;
  left:160px;
  top:152px;
  width:959px;
  height:509px;
  opacity:0.3;
}
#u172 {
  position:absolute;
  left:2px;
  top:246px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:487px;
}
#u173 {
  position:absolute;
  left:409px;
  top:165px;
  width:225px;
  height:487px;
}
#u174 {
  position:absolute;
  left:2px;
  top:236px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:487px;
}
#u175 {
  position:absolute;
  left:646px;
  top:165px;
  width:225px;
  height:487px;
}
#u176 {
  position:absolute;
  left:2px;
  top:236px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:487px;
}
#u177 {
  position:absolute;
  left:883px;
  top:165px;
  width:225px;
  height:487px;
}
#u178 {
  position:absolute;
  left:2px;
  top:236px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u179 {
  position:absolute;
  left:960px;
  top:667px;
  width:120px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u180 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:487px;
}
#u181 {
  position:absolute;
  left:172px;
  top:165px;
  width:225px;
  height:487px;
}
#u182 {
  position:absolute;
  left:2px;
  top:236px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:72px;
}
#u183 {
  position:absolute;
  left:1179px;
  top:63px;
  width:108px;
  height:72px;
}
#u184 {
  position:absolute;
  left:2px;
  top:28px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:76px;
}
#u185 {
  position:absolute;
  left:1145px;
  top:257px;
  width:96px;
  height:76px;
}
#u186 {
  position:absolute;
  left:2px;
  top:30px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:105px;
}
#u187 {
  position:absolute;
  left:1123px;
  top:246px;
  width:139px;
  height:105px;
}
#u188 {
  position:absolute;
  left:2px;
  top:44px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:77px;
}
#u189 {
  position:absolute;
  left:1145px;
  top:256px;
  width:96px;
  height:77px;
}
#u190 {
  position:absolute;
  left:2px;
  top:30px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:78px;
}
#u191 {
  position:absolute;
  left:1146px;
  top:153px;
  width:94px;
  height:78px;
}
#u192 {
  position:absolute;
  left:2px;
  top:31px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u193 {
  position:absolute;
  left:829px;
  top:184px;
  width:25px;
  height:25px;
}
#u194 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u195 {
  position:absolute;
  left:351px;
  top:185px;
  width:25px;
  height:25px;
}
#u196 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:373px;
}
#u197 {
  position:absolute;
  left:184px;
  top:207px;
  width:199px;
  height:373px;
}
#u198 {
  position:absolute;
  left:2px;
  top:178px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u199 {
  position:absolute;
  left:185px;
  top:177px;
  width:45px;
  height:45px;
}
#u200 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u201 {
  position:absolute;
  left:192px;
  top:184px;
  width:34px;
  height:30px;
}
#u202 {
  position:absolute;
  left:2px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:42px;
}
#u203 {
  position:absolute;
  left:540px;
  top:103px;
  width:112px;
  height:42px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u204 {
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:383px;
  height:35px;
}
#u205 {
  position:absolute;
  left:166px;
  top:112px;
  width:379px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u207 {
  position:absolute;
  left:719px;
  top:667px;
  width:120px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u208 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u209 {
  position:absolute;
  left:719px;
  top:667px;
  width:120px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u210 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:185px;
  height:35px;
}
#u211 {
  position:absolute;
  left:203px;
  top:591px;
  width:181px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:116px;
  height:35px;
}
#u213 {
  position:absolute;
  left:238px;
  top:618px;
  width:112px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u216 {
  position:absolute;
  left:472px;
  top:359px;
  width:99px;
  height:99px;
}
#u217 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u218 {
  position:absolute;
  left:501px;
  top:389px;
  width:43px;
  height:42px;
}
#u219 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:373px;
}
#u220 {
  position:absolute;
  left:659px;
  top:207px;
  width:199px;
  height:373px;
}
#u221 {
  position:absolute;
  left:2px;
  top:178px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u223 {
  position:absolute;
  left:588px;
  top:184px;
  width:25px;
  height:25px;
}
#u224 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:373px;
}
#u225 {
  position:absolute;
  left:422px;
  top:207px;
  width:199px;
  height:373px;
}
#u226 {
  position:absolute;
  left:2px;
  top:178px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:479px;
}
#u227 {
  position:absolute;
  left:413px;
  top:169px;
  width:217px;
  height:479px;
}
#u228 {
  position:absolute;
  left:2px;
  top:232px;
  width:213px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:73px;
}
#u229 {
  position:absolute;
  left:419px;
  top:570px;
  width:205px;
  height:73px;
}
#u230 {
  position:absolute;
  left:2px;
  top:28px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:96px;
  height:35px;
}
#u231 {
  position:absolute;
  left:496px;
  top:598px;
  width:92px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u234 {
  position:absolute;
  left:950px;
  top:359px;
  width:99px;
  height:99px;
}
#u235 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u236 {
  position:absolute;
  left:979px;
  top:389px;
  width:43px;
  height:42px;
}
#u237 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:185px;
  height:35px;
}
#u238 {
  position:absolute;
  left:679px;
  top:590px;
  width:181px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:119px;
  height:35px;
}
#u240 {
  position:absolute;
  left:714px;
  top:617px;
  width:115px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:535px;
}
#u243 {
  position:absolute;
  left:453px;
  top:1335px;
  width:423px;
  height:535px;
}
#u244 {
  position:absolute;
  left:2px;
  top:260px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:80px;
}
#u245 {
  position:absolute;
  left:459px;
  top:1785px;
  width:411px;
  height:80px;
}
#u246 {
  position:absolute;
  left:2px;
  top:32px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:44px;
}
#u247 {
  position:absolute;
  left:513px;
  top:1351px;
  width:307px;
  height:44px;
}
#u248 {
  position:absolute;
  left:2px;
  top:14px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u249 {
  position:absolute;
  left:484px;
  top:1405px;
  width:71px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u250 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:3px;
}
#u251 {
  position:absolute;
  left:482px;
  top:1444px;
  width:348px;
  height:3px;
}
#u252 {
  position:absolute;
  left:2px;
  top:-6px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u253 {
  position:absolute;
  left:572px;
  top:1405px;
  width:71px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u254 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u255 {
  position:absolute;
  left:659px;
  top:1405px;
  width:71px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u256 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:44px;
}
#u257 {
  position:absolute;
  left:508px;
  top:1683px;
  width:307px;
  height:44px;
}
#u258 {
  position:absolute;
  left:2px;
  top:14px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:100px;
  height:35px;
}
#u259 {
  position:absolute;
  left:615px;
  top:1361px;
  width:96px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:100px;
  height:35px;
}
#u261 {
  position:absolute;
  left:623px;
  top:1693px;
  width:96px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:100px;
  height:35px;
}
#u263 {
  position:absolute;
  left:561px;
  top:1745px;
  width:96px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u265 {
  position:absolute;
  left:723px;
  top:1804px;
  width:90px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u266 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u267 {
  position:absolute;
  left:527px;
  top:1804px;
  width:90px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u268 {
  position:absolute;
  left:2px;
  top:13px;
  width:86px;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:36px;
}
#u269 {
  position:absolute;
  left:568px;
  top:1457px;
  width:194px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u270 {
  position:absolute;
  left:2px;
  top:8px;
  width:190px;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:100px;
  height:35px;
}
#u271 {
  position:absolute;
  left:639px;
  top:1511px;
  width:96px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:100px;
  height:35px;
}
#u273 {
  position:absolute;
  left:639px;
  top:1555px;
  width:96px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:100px;
  height:35px;
}
#u275 {
  position:absolute;
  left:639px;
  top:1600px;
  width:96px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:3px;
}
#u277 {
  position:absolute;
  left:581px;
  top:1501px;
  width:172px;
  height:3px;
}
#u278 {
  position:absolute;
  left:2px;
  top:-6px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:3px;
}
#u279 {
  position:absolute;
  left:581px;
  top:1543px;
  width:172px;
  height:3px;
}
#u280 {
  position:absolute;
  left:2px;
  top:-6px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:3px;
}
#u281 {
  position:absolute;
  left:581px;
  top:1586px;
  width:172px;
  height:3px;
}
#u282 {
  position:absolute;
  left:2px;
  top:-6px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:3px;
}
#u283 {
  position:absolute;
  left:581px;
  top:1628px;
  width:172px;
  height:3px;
}
#u284 {
  position:absolute;
  left:2px;
  top:-6px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:662px;
  top:1744px;
  width:80px;
  height:25px;
}
#u285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u285_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:86px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u285_input:disabled {
  color:grayText;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:297px;
}
#u287 {
  position:absolute;
  left:459px;
  top:1890px;
  width:405px;
  height:297px;
}
#u288 {
  position:absolute;
  left:2px;
  top:140px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:44px;
}
#u289 {
  position:absolute;
  left:511px;
  top:1915px;
  width:307px;
  height:44px;
}
#u290 {
  position:absolute;
  left:2px;
  top:14px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:3px;
}
#u291 {
  position:absolute;
  left:480px;
  top:1999px;
  width:348px;
  height:3px;
}
#u292 {
  position:absolute;
  left:2px;
  top:-6px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
}
#u293 {
  position:absolute;
  left:488px;
  top:2011px;
  width:166px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u294 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u295 {
  position:absolute;
  left:601px;
  top:1924px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
}
#u297 {
  position:absolute;
  left:664px;
  top:2010px;
  width:166px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u298 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
}
#u299 {
  position:absolute;
  left:488px;
  top:2066px;
  width:166px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u300 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
}
#u301 {
  position:absolute;
  left:664px;
  top:2065px;
  width:166px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u302 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
}
#u303 {
  position:absolute;
  left:488px;
  top:2120px;
  width:166px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u304 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
}
#u305 {
  position:absolute;
  left:664px;
  top:2119px;
  width:166px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u306 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u307 {
  position:absolute;
  left:488px;
  top:1909px;
  width:80px;
  height:80px;
}
#u308 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u309 {
  position:absolute;
  left:549px;
  top:1964px;
  width:25px;
  height:25px;
}
#u310 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u311 {
  position:absolute;
  left:601px;
  top:1962px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
}
#u313 {
  position:absolute;
  left:956px;
  top:103px;
  width:120px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u314 {
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:535px;
}
#u316 {
  position:absolute;
  left:9px;
  top:1334px;
  width:423px;
  height:535px;
}
#u317 {
  position:absolute;
  left:2px;
  top:260px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:80px;
}
#u318 {
  position:absolute;
  left:15px;
  top:1784px;
  width:411px;
  height:80px;
}
#u319 {
  position:absolute;
  left:2px;
  top:32px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:44px;
}
#u320 {
  position:absolute;
  left:69px;
  top:1350px;
  width:307px;
  height:44px;
}
#u321 {
  position:absolute;
  left:2px;
  top:14px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:113px;
}
#u322 {
  position:absolute;
  left:24px;
  top:1404px;
  width:394px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u323 {
  position:absolute;
  left:2px;
  top:48px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:100px;
  height:35px;
}
#u324 {
  position:absolute;
  left:171px;
  top:1360px;
  width:96px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u325 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u326 {
  position:absolute;
  left:296px;
  top:1803px;
  width:100px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u327 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u328 {
  position:absolute;
  left:304px;
  top:1418px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u329 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u330 {
  position:absolute;
  left:304px;
  top:1463px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u331 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:113px;
}
#u332 {
  position:absolute;
  left:24px;
  top:1524px;
  width:394px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u333 {
  position:absolute;
  left:2px;
  top:48px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u334 {
  position:absolute;
  left:304px;
  top:1538px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u335 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u336 {
  position:absolute;
  left:304px;
  top:1583px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u337 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:113px;
}
#u338 {
  position:absolute;
  left:23px;
  top:1645px;
  width:394px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u339 {
  position:absolute;
  left:2px;
  top:48px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u340 {
  position:absolute;
  left:303px;
  top:1659px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u341 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u342 {
  position:absolute;
  left:303px;
  top:1704px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u343 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u344 {
  position:absolute;
  left:52px;
  top:1804px;
  width:100px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u345 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u346 {
  position:absolute;
  left:56px;
  top:1426px;
  width:236px;
  height:37px;
}
#u347 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u348 {
  position:absolute;
  left:58px;
  top:1547px;
  width:236px;
  height:37px;
}
#u349 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u350 {
  position:absolute;
  left:57px;
  top:1668px;
  width:236px;
  height:37px;
}
#u351 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:164px;
  height:115px;
}
#u352 {
  position:absolute;
  left:442px;
  top:1340px;
  width:150px;
  height:101px;
}
#u353 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u354 {
  position:absolute;
  left:40px;
  top:1421px;
  width:80px;
  height:80px;
}
#u355 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u356 {
  position:absolute;
  left:103px;
  top:1476px;
  width:25px;
  height:25px;
}
#u357 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u358 {
  position:absolute;
  left:40px;
  top:1541px;
  width:80px;
  height:80px;
}
#u359 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u360 {
  position:absolute;
  left:103px;
  top:1596px;
  width:25px;
  height:25px;
}
#u361 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u362 {
  position:absolute;
  left:39px;
  top:1662px;
  width:80px;
  height:80px;
}
#u363 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u364 {
  position:absolute;
  left:102px;
  top:1717px;
  width:25px;
  height:25px;
}
#u365 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u366 {
  position:absolute;
  left:131px;
  top:1435px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u368 {
  position:absolute;
  left:131px;
  top:1469px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u370_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u370 {
  position:absolute;
  left:133px;
  top:1556px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u371 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u372_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u372 {
  position:absolute;
  left:133px;
  top:1590px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u374_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u374 {
  position:absolute;
  left:132px;
  top:1677px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u376_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u376 {
  position:absolute;
  left:132px;
  top:1711px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u377 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u378 {
  position:absolute;
  left:190px;
  top:1821px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u379 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u378_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u380 {
  position:absolute;
  left:220px;
  top:1470px;
  width:20px;
  height:20px;
}
#u381 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u382 {
  position:absolute;
  left:220px;
  top:1591px;
  width:20px;
  height:20px;
}
#u383 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u384 {
  position:absolute;
  left:220px;
  top:1712px;
  width:20px;
  height:20px;
}
#u385 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:3px;
}
#u386 {
  position:absolute;
  left:1139px;
  top:239px;
  width:100px;
  height:3px;
}
#u387 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:535px;
}
#u389 {
  position:absolute;
  left:891px;
  top:1335px;
  width:423px;
  height:535px;
}
#u390 {
  position:absolute;
  left:2px;
  top:260px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:44px;
}
#u391 {
  position:absolute;
  left:951px;
  top:1351px;
  width:307px;
  height:44px;
}
#u392 {
  position:absolute;
  left:2px;
  top:14px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:113px;
}
#u393 {
  position:absolute;
  left:906px;
  top:1451px;
  width:394px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u394 {
  position:absolute;
  left:2px;
  top:48px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u395 {
  position:absolute;
  left:950px;
  top:1476px;
  width:236px;
  height:37px;
}
#u396 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:100px;
  height:35px;
}
#u397 {
  position:absolute;
  left:1053px;
  top:1361px;
  width:96px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u398 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u399 {
  position:absolute;
  left:1186px;
  top:1490px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u400 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:113px;
}
#u401 {
  position:absolute;
  left:906px;
  top:1571px;
  width:394px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u402 {
  position:absolute;
  left:2px;
  top:48px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u403 {
  position:absolute;
  left:1186px;
  top:1610px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u404 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:113px;
}
#u405 {
  position:absolute;
  left:905px;
  top:1692px;
  width:394px;
  height:113px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u406 {
  position:absolute;
  left:2px;
  top:48px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u407 {
  position:absolute;
  left:1185px;
  top:1731px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u408 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u409 {
  position:absolute;
  left:914px;
  top:1401px;
  width:71px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u410 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u411 {
  position:absolute;
  left:1002px;
  top:1401px;
  width:71px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u412 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u413 {
  position:absolute;
  left:1089px;
  top:1401px;
  width:71px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u414 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u415 {
  position:absolute;
  left:939px;
  top:1714px;
  width:236px;
  height:37px;
}
#u416 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:3px;
}
#u417 {
  position:absolute;
  left:922px;
  top:1441px;
  width:348px;
  height:3px;
}
#u418 {
  position:absolute;
  left:2px;
  top:-6px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:37px;
}
#u419 {
  position:absolute;
  left:944px;
  top:1594px;
  width:236px;
  height:37px;
}
#u420 {
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u421 {
  position:absolute;
  left:1025px;
  top:1485px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u423_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u423 {
  position:absolute;
  left:1023px;
  top:1519px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u425 {
  position:absolute;
  left:1019px;
  top:1603px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u426 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u427_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u427 {
  position:absolute;
  left:1018px;
  top:1637px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u429_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u429 {
  position:absolute;
  left:1014px;
  top:1723px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u431_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:35px;
}
#u431 {
  position:absolute;
  left:1014px;
  top:1757px;
  width:171px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u433 {
  position:absolute;
  left:922px;
  top:1468px;
  width:80px;
  height:80px;
}
#u434 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u435 {
  position:absolute;
  left:985px;
  top:1523px;
  width:25px;
  height:25px;
}
#u436 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u437 {
  position:absolute;
  left:922px;
  top:1588px;
  width:80px;
  height:80px;
}
#u438 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u439 {
  position:absolute;
  left:985px;
  top:1643px;
  width:25px;
  height:25px;
}
#u440 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u441 {
  position:absolute;
  left:921px;
  top:1709px;
  width:80px;
  height:80px;
}
#u442 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u443 {
  position:absolute;
  left:984px;
  top:1764px;
  width:25px;
  height:25px;
}
#u444 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:80px;
}
#u445 {
  position:absolute;
  left:897px;
  top:1785px;
  width:411px;
  height:80px;
}
#u446 {
  position:absolute;
  left:2px;
  top:32px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u447 {
  position:absolute;
  left:1063px;
  top:1809px;
  width:100px;
  height:50px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u448 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u449_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:164px;
  height:64px;
}
#u449 {
  position:absolute;
  left:1331px;
  top:1345px;
  width:150px;
  height:50px;
}
#u450 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u451 {
  position:absolute;
  left:1110px;
  top:1518px;
  width:20px;
  height:20px;
}
#u452 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u453 {
  position:absolute;
  left:1110px;
  top:1637px;
  width:20px;
  height:20px;
}
#u454 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u455 {
  position:absolute;
  left:1110px;
  top:1758px;
  width:20px;
  height:20px;
}
#u456 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u457 {
  position:absolute;
  left:1186px;
  top:1491px;
  width:90px;
  height:43px;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u458 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:85px;
  height:35px;
}
#u459 {
  position:absolute;
  left:655px;
  top:64px;
  width:81px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u460 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
}
#u461 {
  position:absolute;
  left:883px;
  top:1890px;
  width:166px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u462 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
